<p style="color: green"><%= notice %></p>
<section>
  <div class='box'>
    <strong>Код статьи:</strong>
    <%= prefix(@article.id) %>
    <p>
      <strong class='pt-2'>
        Автор:
      </strong>
      <%= @article.author %>
    </p>
  </div>
  <div class='box'>
    <div class='is-inline-block'>
      <strong>Заголовок:</strong>
    </div>
    <p>
      <%= @article.title %>
    </p>
  </div>
  <div class='box'>
    <p><b>Содержание</b></p>
    <%= @article.text %>
  </div>
</section>
<div class='box'>
  <%= link_to "Редактировать текст", edit_article_path(@article) , class: 'button is-fullwidth is-danger is-outlined' %>
  <%= link_to "Возврат к поиску", articles_path , class: 'button is-fullwidth is-primary is-outlined' %>
</div>
