<div class='py-1'>
  <p style="color: green"><%= notice %></p>
  <%= button_to "Удалить статью полностью!", @article, method: :delete , class: 'button is-fullwidth is-danger is-outlined' %>
  <section class='py-1'>
    <div class='box py-1 is-size-7'>
      <b>Код статьи:</b>
      <%= prefix(@article.id) %>
      <b><%=Article.human_attribute_name(:author) %>:</b>
      <%= @article.author %>
      <b><%=Article.human_attribute_name(:changed_on) %>:</b>
      <%= @article.changed_on.strftime("%Y-%m-%d %T") %>
    </div>
    <div class='box py-1 is-size-7'>
      <b><%=Article.human_attribute_name(:title) %>:</b>
      <p> <%= @article.title %> </p>
    </div>
    <div class='box py-1 is-size-7'>
      <% if @pagy.pages >= 1 %>
        <div class="level-right">
          <div class='level-item has-text-weight-bold'>Версия :</div>
          <nav class='pagination is-rounded'>
            <%== pagy_bulma_nav(@pagy, size: [1,1,1,1], pagy_id: 'pagy_nav' )%>
          </nav>
        </div>
      <% end %>
    </div>
    <div class='box py-1'>
      <p><b>Содержание</b></p>
      <%= render 'shared/text' ,text: @texts[0]%>
      <%= link_to "Создать новую версию", edit_text_path(@texts[0].id ) , class: 'button  is-fullwidth is-info is-outlined' %>
      <%= button_to "Удалить данную версию", text_path(@texts[0].id ) , method: :delete, class: 'button is-small is-fullwidth is-danger is-outlined' %>
    </div>
  </section>
</div>
<div class='box'>
  <%= link_to "Возврат к поиску", articles_path , class: 'button is-fullwidth is-info is-outlined' %>
</div>
