<h1 class='title has-text-centered'>Редактирование статьи</h1>
<%= link_to "Возврат к поиску", articles_path , class: 'button is-fullwidth is-primary is-outlined' %>
<div class = 'box py-2'>
  <%= form_with model: @text do |form| %>
    <% if @text.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@text.errors.count, "ошибка") %>
          не позволяет сохранить изменения:</h2>
        <ul>
          <% @text.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='field'>
      <div class="field">
        <b><%=Article.human_attribute_name(:author) %>:</b>
        <%= @text.article.author%>
      </div>
      <div class="field">
        <b><%= Article.human_attribute_name(:title)%>:</b>
        <%= @text.article.title %>
      </div>
      <div class="field">
        <b><%=::Text.human_attribute_name(:text)%>:</b>
        <p class='pt-3'>
          <%= form.text_area :text, class: "input textarea is-large" , placeholder: :text%>
        </p>
      </div>
      <div class="field">
        <b><%=Article.human_attribute_name(:changed_on) %>:</b>
        <%=l @text.article.changed_on, format: :long %>
      </div>
      <div class="control">
        <%= form.submit class: 'button is-fullwidth is-danger is-outlined' %>
      </div>
    </div>
  <% end %>
</div>
